<h1>
    {{obj.title}}
    <img class="icon" src="/api/good/availablity/{{obj.id}}"/>
    <a class="ui icon button mini right floated" ui-sref="item-add({productid: obj.id})"><i class="icon plus"></i></a>
</h1>
<table class="ui table very basic">
    <tr>
        <td>Product ID</td>
        <td>{{obj.id}}</td>
    </tr>
    <tr>
        <td>Count</td>
        <td>{{list.length}}</td>
    </tr>
</table>
<h2>Goods of this product</h2>
<div class="ui warning message" ng-if="list.length <= 0">
    <p>There are no goods for this product.</p>
</div>
<table class="ui table list" ng-if="list.length > 0">
    <thead>
    <tr>
        <th>Status of Freshness</th>
        <th>Location</th>
        <th>Comment</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in list">
        <td><img class="icon" ng-src="{{'/api/good/freshness/'+item.id| reloadSrc}}"/></td>
        <td>{{item.position}}</td>
        <td>{{item.comment}}</td>
        <td><a class="ui icon button mini" ng-click="delete(item.id)"><i class="trash icon"></i></a></td>
    </tr>
    </tbody>
</table>
